* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: unset;
  background-position: unset;
  background-size: unset;
  background-repeat: unset;
  background-attachment: unset;
  background-origin: unset;
  color: #475569;
  background-color: rgba(25, 25, 25, 1);
}
.showcase {
  padding: 5%;
}
.cards {
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
}
.card {
  background-color: #292929;
  height: 450px;
  width: 450px;
  margin-bottom: 5px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  transition: all 0.5s ease;
  font-weight: 100;
  overflow: hidden;
}
.card:hover {
  margin-top: -5px;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2);
}
.gjs-heading {
  margin: 0;
  color: rgba(29, 40, 55, 1);
}
.gjs-link {
  vertical-align: top;
  max-width: 100%;
  display: inline-block;
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease 0s;
}
.text-main-content {
  line-height: 30px;
  font-size: 1.2rem;
  padding: 10px;
  max-width: 750px;
  margin-bottom: 5px;
  text-align: left;
  margin-top: 5px;
  margin-right: 0;
  margin-left: 0;
  align-self: auto;
  color: rgba(255, 255, 255, 1);
  font-family: Trebuchet MS, Helvetica, sans-serif;
  font-weight: 300;
}
.gjs-text-hover {
  color: #727272;
}
.gjs-link:hover {
  color: #2463eb;
  text-decoration: underline;
}
.accordion {
  background-color: #191919;
  border: 1px solid #494949;
  color: #fff;
  margin-bottom: 10px;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}
.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #191919;
  color: #fff;
  cursor: pointer;
  padding: 15px;
  font-size: 16px;
  border: none;
  text-align: left;
  outline: 0;
  transition: background-color 0.3s ease;
}
.accordion-header:hover {
  background-color: #333;
}
.accordion-content {
  padding: 0 25px;
  display: block;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
  border-top: 1px solid #ddd;
  background-color: #191919;
}
.accordion.active .accordion-content {
  max-height: 500px; /* Adjust based on content size */
  opacity: 1; /* Ensure the content becomes visible */
}
.accordion-content p {
  margin-bottom: 10px;
}
.accordion-header span {
  flex-grow: 1;
}
.accordion-header .right-text {
  text-align: right;
}
.gjs-grid-column {
  flex: 1 1 0%;
  padding: 5px 0;
}
.gjs-grid-row {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: row;
  min-height: auto;
  padding: 10px 0;
}
.gjs-container {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}
.gjs-section {
  display: flex;
  padding: 50px 0;
}
#i3vvs-2-3 {
  width: 100%;
  position: relative;
  display: inline-block;
  text-align: center;
}

#imgFade{
  mask-image: radial-gradient(ellipse, black 45%, transparent 70%);

}

#injuum-2-3 {
  padding: 25%;
}
#i984rl-2-3 {
  color: rgba(255, 255, 255, 1);
  font-family: Georgia, serif;
  font-size: 250%;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}
#itndw-2-3 {
  color: rgba(255, 255, 255, 1);
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 0;
  padding-left: 5px;
}
#button {
  color: rgba(255, 255, 255, 1);
  padding: 2%;
  margin: 5px;
  background-color: #7abd43;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3s;
  text-decoration: none;
  font-weight: 700;
}
#button:hover {
  background-color: #fff;
  color: #000;
}
#iibrty-2-3 {
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}
#accordion_sect {
  padding: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
#experience {
  padding: 5%;
}
#ik5qsq-3 {
  color: rgba(255, 255, 255, 1);
  font-family: Georgia, serif;
  font-size: 250%;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}
.gjs-divider {
  height: 3px;
  width: 100%;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.05);
}
.gjs-typed {
  padding: 5px;
  text-wrap: nowrap;
}
#footerCom {
  text-align: center;
  vertical-align: middle;
  padding-top: 5%;
}
#i75uvpd {
  color: rgba(255, 255, 255, 1);
  text-align: center;
  vertical-align: middle;
  padding: 5%;
}
#i51bz7z {
  color: rgba(255, 255, 255, 1);
  text-align: center;
  vertical-align: middle;
}
#intro {
  padding: 5%;
}
#introText {
  font-size: 350%;
  font-family: Georgia, serif;
  text-align: center;
  vertical-align: middle;
  direction: ltr;
  color: rgba(255, 255, 255, 1);
  flex: 1 1 0%;
  font-weight: 600;
}
.sectionTitle {
  color: rgba(255, 255, 255, 1);
  font-family: Georgia, serif;
  font-size: 250%;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}
#ixm0rai {
  padding: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
#iqcs-2-3 {
  display: flex;
  text-align: center;
  vertical-align: middle;
  flex: 1 1 0%;
  justify-content: center;
}
#i5o12md {
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
}
#iz2cak {
  font-weight: 600;
}
#ir4xf {
  font-weight: 600;
}
@media (max-width: 992px) {
  .gjs-grid-row {
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  #injuum-2-3 {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    padding-top: 80%;
    padding-bottom: 100%;
    position: relative;
  }
  #i3vvs-2-3 {
    width: 100%;
  }
  #iqcs-2-3 {
    direction: ltr;
    justify-content: center;
  }
  #idouyp6 {
    align-self: auto;
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }
}
